<h2><i class="fa fa-question-circle"></i> MS-FLO Documentation</h2>
<br />

<h3>Overview</h3>

<p>MS-FLO (Mass Spectral Feature List Optimizer) is a tool to improve the quality of feature lists/peak tables after initial processing to expedite the process of data curation.  It utilizes retention time alignments, accurate mass tolerances, Pearson’s correlation analysis, and peak height similarity to identify ion-adducts, duplicate peak reports and isotopic features of the main monoisotopic metabolites. Removing such erroneous peaks reduces the overall number of metabolites in data reports and improves the quality of subsequent statistical investigations.</p>


<h3>Submitting a Job<h3>

<h4>Supported Input Formats</h4>

<p>Submitting a job requires a peak table/feature list exported from MZmine, MS-DIAL or XCMS.  It is recommended to start with an unmodified export file.  While some changes should not affect the MS-FLO processing, others such as adding columns might break the file parsing or skew the results.</p>

<p>Below are some example peak table files from each data processing software:</p>

<ul>
	<li><a href="downloads/MZmineExport.csv" download>MZmine 2</a></li>
	<li><a href="downloads/MSDialExport.txt" download>MS-DIAL</a></li>
	<li><a href="downloads/XCMS-Report-SingleClass.xlsx" download>XCMS</a></li>
	<li><a href="downloads/XCMS-Report-annotated-SingleClass.xlsx" download>XCMS (Annotated)</a></li>
</ul>


<h4>Non-Supported Input Formats</h4>

<p>To process any non-supported formats, it is recommended to construct a minimal MZmine peak table, which can be done in Microsoft Excel or any spreadsheet software.  There are two metadata columns required in order to be recognized by MS-FLO's MZmine parse: "row m/z" and "row retention time".  These columns have exactly these names and the values must contain the relevant mass-to- charge ratio and retention time information, respectively.  All other columns must contain peak height/area data and may have any name in the column header.  Finally, export the peak table as CSV (comma separated values).</p>

