<div ng-if="enableSearch === true">
	<h2><i class="fa fa-search"></i> Find a Job</h2>
	<br />

	<form class="input-group input-group-lg" ng-submit="findJob(jobID)">
		<input type="text" class="form-control input-lg" ng-model="jobID" placeholder="Job ID">
		<span class="input-group-btn">
			<button class="btn btn-primary btn-lg" type="submit">Search</button>
		</span>
	</form>
    <span class="help-block">Job IDs can be found on the first line of the output log</span>
</div>

<div ng-if="job.status === 'invalid'">
	<h2 class="text-danger">Job does not exist!</h2>
	<p class="lead">Job ID <code>{{job_id}}</code> is invalid</p>
</div>

<div ng-if="job.status === 'queued'">
	<h2><span class="spinner"><i class="fa fa-spinner fa-spin"></i></span> Queued</h2>
	<p class="lead">Waiting for next open processing slot...</p>

	<p>
		This page will refresh automatically every few seconds. <br />
		You can return to this page later via the
		<a href="#/jobs"><i class="fa fa-search"></i> Find a Job</a>
		link using the job ID <code>{{job_id}}</code>.
	</p>
	<br />
</div>

<div ng-if="job.status === 'running'">
	<h2><span class="spinner"><i class="fa fa-cog fa-spin"></i></span> Running</h2>
	<p class="lead">Server is currently processing your job</p>

	<p>
		This page will refresh automatically every few seconds. <br />
		You can return to this page later via the
		<a href="#/jobs"><i class="fa fa-search"></i> Find a Job</a>
		link using the job ID <code>{{job_id}}</code>.
	</p>
	<br />

	<p>Log:</p>
	<div class="highlight">
		<pre>{{job.log}}</pre>
	</div>
</div>

<div ng-if="job.status === 'success'">
	<h2 class="text-success">Success!</h2>
	<p class="lead">Thank you for your submission!</p>

	<div>
		You can revisit this page via the 
		<a href="#/jobs"><i class="fa fa-search"></i> Find a Job</a>
		link using the job ID <code>{{job_id}}</code>.
	</div>

	<div style="height: 400px; overflow: auto;">
		<pre>{{job.log}}</pre>
	</div>

	<div ng-if="auto_download">
		Your file will download momentarily.  If the download does not start, please <a href="{{download_url}}">click here</a>.
	</div>
	<div ng-if="!auto_download">
		Results are avaliable for download <a href="{{download_url}}" ga-track-event="['job', 'download', job_id]">here</a>.  
	</div>
</div>

<div ng-if="job.status === 'error'">
	<h2 class="text-danger"><i class="fa fa-exclamation-triangle"></i> Error!</h2>
	<p class="lead">Job encountered an error.  Please review the error message and contact support referencing the job ID <code>{{job_id}}</code> if the issue persists.</p>

	<div>
		<pre>{{job.log}}</pre>
	</div>
</div>