
<h2>
	<i class="fa fa-bar-chart"></i> MS-FLO<br />
	<small>Mass Spectral Feature List Optimizer</small>
</h2>
<br />

<p>MS-FLO is a tool to improve the quality of feature lists/peak tables after initial processing to expedite the process of data curation.  It utilizes retention time alignments, accurate mass tolerances, Pearson’s correlation analysis, and peak height similarity to identify ion-adducts, duplicate peak reports and isotopic features of the main monoisotopic metabolites. Removing such erroneous peaks reduces the overall number of metabolites in data reports and improves the quality of subsequent statistical investigations.</p>

<p>MS-FLO was developed at <a href="http://fiehnlab.ucdavis.edu">Fiehn Research Lab</a> and has been recently published in Analytical Chemistry:</p>

<p class="citation">
	DeFelice BC, Mehta SS, Samra S, Čajka T, Wancewicz B, Fahrmann JF, Fiehn O. Mass Spectral Feature List Optimizer (MS-FLO): a tool to minimize false positive peak reports in untargeted LC-MS data processing. Analytical Chemistry, February, 2017. 	DOI: <a href="http://pubs.acs.org/doi/abs/10.1021/acs.analchem.6b04372">10.1021/acs.analchem.6b04372</a>
</p>

<p>MS-FLO is <a href="https://bitbucket.org/fiehnlab/ms-flo">open source and released under LGPL 3.0</a>.  If you encounter any bugs or problems, please let us know using our <a href="https://bitbucket.org/fiehnlab/ms-flo/issues">issue tracker</a>.</p>

<hr />

<div>
	<h3>Changelog:</h3>

	<h5>v1.8 (2019-01-05)</h5>
	<ul>
		<li>Updated job tracking and handling to improve speed and scalability</li>
	</ul>

	<h5>v1.7 (2018-11-08)</h5>
	<ul>
		<li>Added peak height ratio column during isotope identification step for easier filtering of results</li>
		<li>Now exporting peak height values as floating point values</li>
	</ul>

	<h5>v1.6 (2018-08-31)</h5>
	<ul>
		<li>Added merging of peak annotations in duplicate removal step</li>
		<li>Added additional validation of required peak table columns</li>
		<li>Export peak height ratio in isotope identification step</li>
	</ul>

	<h5>v1.5 (2018-02-08)</h5>
	<ul>
		<li>Update handling of empty columns in MS-DIAL export format</li>
	</ul>

	<h5>v1.4 (2018-01-10)</h5>
	<ul>
		<li>Fixed an issue during processing when handling undetected peaks</li>
	</ul>

	<h5>v1.3 (2017-11-16)</h5>
	<ul>
		<li>Improved handling of custom metadata by automatically excluding non-numeric columns from processing</li>
	</ul>

	<h5>v1.2 (2017-05-04)</h5>
	<ul>
		<li>Updated dependency issue affecting processing of XCMS jobs</li>
	</ul>

	<h5>v1.1 (2017-04-04)</h5>
	<ul>
		<li>Updated UI to improve exception and timeout handling</li>
		<li>Improving adduct row merging retention of metadata</li>
		<li>Fixed issues regarding simultaneous requests and logging</li>
		<li>Fixed minor issues with paramater parsing</li>
	</ul>
</div>