<h2><i class="fa fa-cogs"></i> Submit a New MS-FLO Job</h2>

<form ng-submit="submitProcessingJob()" role="form" name="newJobForm">
    <div class="alert alert-danger" role="alert" ng-show="error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> {{error}}
    </div>

    <p class="lead">Peak Table File:</p>

    <div class="form-group" ng-class="{'has-error' : newJobForm.peak_table_file.$invalid}">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label class="radio-inline">
                    <input type="radio" name="file_format" value="mzmine" ng-model="fileFormat" /> MZmine2
                </label>
            </div>
            <div class="col-sm-4 text-center">
                <label class="radio-inline">
                    <input type="radio" name="file_format" value="msdial" ng-model="fileFormat" /> MS-DIAL
                </label>
            </div>
            <div class="col-sm-4 text-center">
                <label class="radio-inline">
                    <input type="radio" name="file_format" value="xcms" ng-model="fileFormat" /> XCMS
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : newJobForm.peak_table_file.$invalid}">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse&hellip;
                    <input type="file"
                           ngf-select
                           ngf-change="newJobForm.peak_table_file.$setValidity('peak_table_file', true)"
                           ng-model="files.peak_file"
                           ng-required />
                </span>
            </span>

            <input id="spectrumFile" type="text" name="peak_table_file" class="form-control" ng-model="files.peak_file.name" readonly />
        </div>

        <span class="help-block">Supports unmodified MZmine2, MS-DIAL and XCMS peak table exports</span>
        <p class="help-block" ng-show="newJobForm.peak_table_file.$invalid"><strong>Error: Please select a peak table to upload!</strong></p>
    </div>


    <div class="form-group">
        <p class="lead" style="margin-top: 2em;">Parameter Input:</p>

        <div class="row">
            <div class="col-sm-6 text-center">
                <label class="radio-inline">
                    <input type="radio" ng-value="false" ng-model="upload_params" /> Form Input
                </label>
            </div>
            <div class="col-sm-6 text-center">
                <label class="radio-inline">
                    <input type="radio" ng-value="true" ng-model="upload_params" /> Upload .ini File
                </label>
            </div>
        </div>
    </div>


    <div class="form-group" ng-if="upload_params">
        <div class="form-group" ng-class="{'has-error' : newJobForm.ini_file.$invalid}">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip;
                        <input type="file"
                               ngf-select
                               ngf-change="newJobForm.ini_file.$setValidity('ini_file', true)"
                               ng-model="files.ini_file" />
                    </span>
                </span>

                <input id="spectrumFile" type="text" name="ini_file" class="form-control" ng-model="files.ini_file.name" readonly />
            </div>

            <span class="help-block">Each MS-FLO result set comes with an .ini file containing all parameters used.  These can be modified and reused to avoid repetitive data entry.  Note that any omitted parametrs will be replaced with default values.</span>
            <p class="help-block" ng-show="newJobForm.ini_file.$invalid"><strong>Error: Please select an ini parameter file to upload!</strong></p>
        </div>
    </div>


    <div ng-if="!upload_params">
        <p class="lead" style="margin-top: 2em;">Global Parameters:</p>

        <div class="form-group">
            <label class="control-label">Row Merging Delimiter:</label>
            <input type="text" class="form-control" placeholder="_" ng-model="params[0]['row merging delimiter']" />
            <span class="help-block">Character(s) used to separate row values after merging</span>
        </div>


        <div class="form-group" style="margin-top: 2em;">
            <span class="lead">Contaminant Ion Removal:</span><br />

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="params[1]['enabled']" /> Enabled
            </label>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.ionremoval_mz.$invalid}">
            <label class="control-label">Tolerance for m/z:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.01"
                   name="ionremoval_mz"
                   ng-model="params[1]['mz tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />

            <p class="help-block" ng-show="newJobForm.ionremoval_mz.$invalid">
                <strong>Error: m/z tolerance must be a numeric value!</strong>
            </p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.ionremoval_ions.$invalid}">
            <label class="control-label">Contaminant Ions:</label>
            <input type="text"
                   class="form-control"
                   name="ionremoval_ions"
                   ng-model="ions"
                   ng-pattern="/^(\d+(\.\d*)?(\s*,\s*\d+(\.\d*)?)*)?$/" />
            <p class="help-block">Please list contaminant ions to be removed separated by commas, for example "121.0508, 922.00982"</p>
        </div>


        <div class="form-group" style="margin-top: 2em;">
            <span class="lead">Duplicate Peak Removal:</span><br />

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="params[2]['enabled']" /> Enabled
            </label>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.duplicate_mz.$invalid}">
            <label class="control-label">Tolerance for m/z:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.01"
                   name="duplicate_mz"
                   ng-model="params[2]['mz tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.duplicate_mz.$invalid"><strong>Error: m/z tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.duplicate_rt.$invalid}">
            <label class="control-label">Tolerance for Retention Time:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.1"
                   name="duplicate_rt"
                   ng-model="params[2]['retention time tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.duplicate_rt.$invalid"><strong>Error: retention time tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.duplicate_peakheight.$invalid}">
            <label class="control-label">Peak Height Tolerance:</label>
            <input type="text"
                   class="form-control"
                   placeholder="1.0"
                   name="duplicate_peakheight"
                   ng-model="params[2]['peak height tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block">Absolute tolerance within which two peak heights are considered equal</p>
            <p class="help-block" ng-show="newJobForm.duplicate_peakheight.$invalid"><strong>Error: peak height tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.duplicate_peakheightratio.$invalid}">
            <label class="control-label">Minimum Peak Match Ratio:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.85"
                   name="duplicate_peakheightratio"
                   ng-model="params[2]['minimum peak match ratio']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block">Minimum ratio of matched peak heights to total peak heights required for two rows to be considered duplicate</p>
            <p class="help-block" ng-show="newJobForm.duplicate_peakheightratio.$invalid"><strong>Error: minimum peak height ratio must be a numeric value!</strong></p>
        </div>


        <div class="form-group" style="margin-top: 2em;">
            <span class="lead">Isotope Detection:</span><br />

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="params[3]['enabled']" /> Enabled
            </label>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.isotope_mz.$invalid}">
            <label class="control-label">Tolerance for m/z:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.01"
                   name="isotope_mz"
                   ng-model="params[3]['mz tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.isotope_mz.$invalid"><strong>Error: m/z tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.isotope_rt.$invalid}">
            <label class="control-label">Tolerance for Retention Time:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.02"
                   name="isotope_rt"
                   ng-model="params[3]['retention time tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.isotope_rt.$invalid"><strong>Error: retention time tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.isotope_minr2.$invalid}">
            <label class="control-label">Minimum R<sup>2</sup> for Isotope Match:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.00"
                   name="isotope_minr2"
                   ng-model="params[3]['minimum r^2 to match']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.isotope_minr2.$invalid"><strong>Error: retention time tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.isotope_massshift.$invalid}">
            <label class="control-label">Mass Shift:</label>
            <input type="text"
                   class="form-control"
                   placeholder="1.003355"
                   name="isotope_massshift"
                   ng-model="params[3]['mass shift']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.isotope_massshift.$invalid"><strong>Error: peak height tolerance must be a numeric value!</strong></p>
        </div>


        <div class="form-group" style="margin-top: 2em;">
            <span class="lead">Adduct Joiner:</span><br />

            <label class="checkbox-inline">
                <input type="checkbox" ng-model="params[4]['enabled']" /> Enabled
            </label>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.adduct_mz.$invalid}">
            <label class="control-label">Tolerance for m/z:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.01"
                   name="adduct_mz"
                   ng-model="params[4]['mz tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.adduct_mz.$invalid"><strong>Error: m/z tolerance must be a numeric value!</strong></p>
        </div>

        <div class="form-group" ng-class="{'has-error' : newJobForm.adduct_rt.$invalid}">
            <label class="control-label">Tolerance for Retention Time:</label>
            <input type="text"
                   class="form-control"
                   placeholder="0.02"
                   name="adduct_rt"
                   ng-model="params[4]['retention time tolerance']"
                   ng-pattern="/^\d+(\.\d*)?$/" />
            <p class="help-block" ng-show="newJobForm.adduct_rt.$invalid"><strong>Error: retention time tolerance must be a numeric value!</strong></p>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>Initial Adduct:</label>
                <p class="help-block"></p>
            </div>
            <div class="col-sm-3">
                <label>Final Adduct:</label>
                <p class="help-block"></p>
            </div>
            <div class="col-sm-2">
                <label>m/z Difference:</label>
                <p class="help-block"></p>
            </div>
            <div class="col-sm-2">
                <label>Flag Threshold:</label>
                <p class="help-block"></p>
            </div>
            <div class="col-sm-2">
                <label>Join Threshold:</label>
                <p class="help-block"></p>
            </div>
        </div>

        <div class="form-group" ng-repeat="adduct in adducts">
            <div class="row">
                <div class="col-sm-3">
                    <input type="text"
                           class="form-control"
                           ng-model="adduct['from adduct']"
                           uib-typeahead="state as state.name for state in filterAdducts($viewValue)" 
                           typeahead-template-url="adductTemplate.html"
                           typeahead-show-hint="true"
                           typeahead-min-length="0"
                           typeahead-on-select="onAdductSelect(adduct)" />
                </div>
                <div class="col-sm-3">
                    <input type="text"
                           class="form-control"
                           ng-model="adduct['to adduct']"
                           uib-typeahead="state as state.name for state in filterAdducts($viewValue)" 
                           typeahead-template-url="adductTemplate.html"
                           typeahead-show-hint="true"
                           typeahead-min-length="0"
                           typeahead-on-select="onAdductSelect(adduct)" />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="" ng-model="adduct['mass difference']" />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0.0" ng-model="adduct['flag threshold']" />
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="0.8" ng-model="adduct['merge threshold']" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="button" ng-click="addAdduct()">+ Custom Adduct</button>
        </div>
    </div>

    <div class="form-group text-right">
        <span ng-if="submittingJob"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
        <input type="submit" ng-disabled="submittingJob" class="btn btn-primary" value="Submit" ng-disabled="newJobForm.$invalid" />
    </div>
</form>

<script type="text/ng-template" id="adductTemplate.html">
    <div class="typeahead-group-header" ng-if="match.model.header">{{match.model.mode}}</div>
    <a>
        <span ng-bind-html="match.model.formattedName | uibTypeaheadHighlight:query"></span>
    </a>
</script>
